html {
    line-height: 1.15;
}

body {
    background-color: rgb(245, 246, 248);
    font-size: 14px;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

p {
    margin-top: 0;
}

.container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.main {
    padding: 0 .3rem
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.tag {
    height: 1.2rem;
    width: 1.3rem;
    border: 2px solid;
    text-align: center;
    display: inline-block;
    margin: 0 .3rem;
    font-weight: bold;
    font-size: 13px;
    border-radius: 4px;
}

.tag-black {
    border-color: black;
    background-color: black;
    color: #fff;
}

.group-title {
    color: inherit;
    margin-bottom: 1rem;
}

.btn-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btn-group .fix {
    width: 60px;
}

.btn-group button {
    width: 60px;
    height: 36px;
    margin-bottom: .5rem;
    background: rgb(245, 246, 248);
    border: 1px solid rgb(245, 246, 248);
    transition: .3s all;
}

.btn-group button:hover {
    border: 1px solid black;
}

.globalmask {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 30;
    background-color: black;
    opacity: 0.5;
}

.fade-enter-active,
.cutin-right-enter-active {
    transition: all 0.3s ease;
}

.fade-leave-active,
.cutin-right-leave-active {
    transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.cutin-right-enter {
    transform: translateX(300px);
}

.cutin-right-leave-to {
    transform: translateX(300px);
}

.message-error {
    color: rgb(223, 86, 31);
}

.message-box {
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    width: 180px;
    height: 0;
    z-index: 50;
}


@media screen and (min-width: 35.5em) {
    body {
        font-size: 14.5px;
    }
    .main {
        padding: 0
    }
}

@media screen and (min-width: 48em) {
    body {
        font-size: 15px;
    }
}

@media screen and (min-width: 64em) {}

@media screen and (min-width: 80em) {}